doctype html
html(lang="")
	head
		link(rel="stylesheet", href="style.sass")
		script(src="https://joeiddon.github.io/perlin/perlin.js")
	body
		//- .perlin
		//- 	- for (let i = 0; i <= 301; ++i)
		//- 		.box
		#first.first
			-for (let i = 0; i< 10; i++)
				.bar

	script(src="script.js")