*, *::before, *::after
	margin: 0
	padding: 0
	box-sizing: border-box

body
	// height: 100vh
	display: flex
	justify-content: center
	align-items: center
	background: #eee
	color: #111

.box
	width: 0
	min-width: 2px
	height: 10px
	margin-bottom: 2px
	background-color: red
